<div class="grid grid-cols-2 gap-4">
  <div class="column">
    {{ live_component('team_builder', teams: "left", contact_id: 1) }}
  </div>

  <div class="column">
    {{ live_component('team_builder', team: "right", contact_id: 2) }}
  </div>
</div>
