<%= live_component(component) do %>
  <div class="child-div">
    <button class="btn primary" data-action="click->live#call" data-live-action-param="dupe">
      Child
    </button>
  </div>

  Sub Child?

  <% if value %>
    Sub child:
    <%= live("child") %>
  <% end %>
<% end %>
