{% yield live_component(component, class: "flex justify-between items-center p-2") do %}
  <label class="label cursor-pointer gap-2 flex-grow justify-start">
    <input type="checkbox"
           class="checkbox checkbox-primary"
           {{ todo.completed ? 'checked' : '' }}
           data-action="change->live#call"
           data-live-action-param="toggle" />
    <input
        type="text"
        name="text"
        value="{{ todo.text }}"
        class="input"
        data-action="change->live#reactive">
  </label>
  <button class="btn btn-square btn-xs btn-primary"
          data-action="click->live#call"
          data-live-action-param="save">
    Done
  </button>
  <button class="btn btn-square btn-xs btn-error"
          data-action="click->live#call"
          data-live-action-param="remove">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
  </button>
{% endyield %}
